<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none !important;
        }
    </style>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-white bg-white shadow-sm">
        <a class="navbar-brand" href="/">Vuivei</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/videos">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/live">Live</a>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fas fa-plus"></i></button>
                <div class="dropdown-menu" style="min-width: 0;">
                    <a class="dropdown-item px-2" href="/videos/upload">업로드</a>
                    <a class="dropdown-item px-2" href="/live/upload">라이브 방송</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><%= curUser.nickname %></button>
                <div class="dropdown-menu" style="min-width: 0;">
                    <a class="dropdown-item px-2" href="/channel?userID=<%= curUser.id %>">내 채널</a>
                    <a class="dropdown-item px-2" href="/users/logout">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid mb-0" style="background-image: url('./images/channel.jpg'); height: 27vh;">
    </div>      

    <div class="pt-3">
        <div class="container">
            <div class="mb-3">
                <img src="https://www.weact.org/wp-content/uploads/2016/10/Blank-profile.png" class="rounded-circle" style="height: 80px; width: 80px;" alt="">
                <button class="btn btn-lg float-right mt-3" name="subscribe" id="subscribeBtn" style="color: white; background-color: red;">구독</button>
                <div class="d-inline-block align-middle">
                    <span class="h4"><strong><%= channelUser.nickname %></strong></span><br>
                    <span class="text-secondary">구독자 <span class="subscribeCnt"><%= channelUser.subscribe %></span>명</span><br>
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" id="upload-tab" data-toggle="tab" href="#upload" role="tab" aria-controls="upload" aria-selected="true">업로드 한 영상</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="like-tab" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="false">좋아요 누른 영상</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="subscribe-tab" data-toggle="tab" href="#subscribe" role="tab" aria-controls="subscribe" aria-selected="false">구독한 채널</a>
                    </li>
                </ul>
                <div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                            <div class="row mx-0">
                                <% for(let i=0; i < uploadVideos.length; i++) { %>
                                <div class="col-md-3 mt-3">
                                    <a href="/videos/view?videoID=<%= uploadVideos[i]._id %>">
                                        <img src="<%= uploadVideos[i].path %>.png" class="img-thumbnail border-0 p-0">
                                        <div class="mt-2">
                                            <span class="text-dark"><%= uploadVideos[i].title %></span>
                                            <div class="text-secondary">
                                                <h6 class="small d-inline mr-3">조회수 <%= uploadVideos[i].view %>회</h6>
                                                <h6 class="small d-inline"><%= uploadVideos[i].date %></h6>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% } %>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="like" role="tabpanel" aria-labelledby="like-tab">
                            <div class="row mx-0">
                                <% for(let i=0; i < likeVideos.length; i++) { %>
                                    <div class="col-md-3 mt-3">
                                        <a href="/videos/view?videoID=<%= likeVideos[i]._id %>">
                                            <img src="<%= likeVideos[i].path %>.png" class="img-thumbnail border-0 p-0">
                                            <div class="mt-2">
                                                <span class="text-dark"><%= likeVideos[i].title %></span>
                                                <div class="text-secondary">
                                                    <h6 class="small d-inline mr-3">조회수 <%= likeVideos[i].view %>회</h6>
                                                    <h6 class="small d-inline"><%= likeVideos[i].date %></h6>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <% } %>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="subscribe" role="tabpanel" aria-labelledby="subscribe-tab">
                            <% for(let i=0; i < subscribingChannels.length; i++) { %>
                            <div class="col-md-2 text-center mt-3 d-inline-block">
                                <a href="./channel?userID=<%= subscribingChannels[i].id %>">
                                    <img src="<%= subscribingChannels[i].profile %>" class="rounded-circle mb-2" style="height: 100px; width: 100px;" alt="">
                                    <div class="text-dark"><%= subscribingChannels[i].nickname %></div>
                                </a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <!-- subscribe -->
    <script>
        const toRedBtn = () => {
            $('#subscribeBtn').css('background-color', '#ff0000');
            $('#subscribeBtn').css('color', '#ffffff')
            $('#subscribeBtn').html('구독');
        }
        const toGray = () => {
            $('#subscribeBtn').css('background-color', '#d3d3d3');
            $('#subscribeBtn').css('color', '#6c757d')
            $('#subscribeBtn').html('구독중');
        }

        if('<%= curUser.subscribing %>'.includes('<%= channelUser.id %>')) {    // subscribing
            toGray();
        } else {    // not subscribing
            toRedBtn();
        }
    </script>
</body>
</html>