<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>.videoPlayer { max-width: 1280px; max-height: 720px; width: 1280px; height: 720px; }</style>
</head>
<body style="overflow-x:hidden" class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-white bg-white shadow-sm">
        <a class="navbar-brand" href="/">Vuivei</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/videos">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/live">Live</a>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fas fa-plus"></i></button>
                <div class="dropdown-menu" style="min-width: 0;">
                    <a class="dropdown-item px-2" href="/videos/upload">업로드</a>
                    <a class="dropdown-item px-2" href="/live/upload">라이브 방송</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><%= curUser.nickname %></button>
                <div class="dropdown-menu" style="min-width: 0;">
                    <a class="dropdown-item px-2" href="/channel?userID=<%= curUser.id %>">내 채널</a>
                    <a class="dropdown-item px-2" href="/users/logout">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="mx-5 mt-5 ml-5">
        <div class="row ml-5">
            <div class="videoPlayerContainer mt-5">
                <video id="video" class="videoPlayer" controls autoplay></video>

                <!-- video summary -->
                <div>
                    <div class="mt-3 mb-2">
                        <h3><%= video.title %></h3>
                    </div>
    
                    <div class="text-secondary">
                        <span class="">조회수 <%= video.view %>회</span>
                        <span class="ml-3"><%= video.date %></span>
                        <span style="cursor: default;">
                            <span class="float-right h5 hate"><i class="fas fa-thumbs-down mr-2"></i><span class="hateCnt"><%= video.hate %></span></span>
                            <span class="float-right mr-4 h5 like"><i class="fas fa-thumbs-up mr-2"></i><span class="likeCnt"><%= video.like %></span></span>
                        </span>
                        <hr>
                    </div>
                </div>
                <!-- /video summary -->
                
                <!-- channel summary -->
                <div>
                    <img src="<%= videoUser.profile %>" style="width: 48px; height: 48px;" alt="..." class="align-top rounded-circle mr-1">
                    <button class="btn btn-lg float-right" name="subscribe" id="subscribeBtn" style="color: white; background-color: red;">구독</button>
                    <div class="d-inline-block">
                        <span class="h6"><strong><%= video.nickname %></strong></span><br>
                        <span class="text-secondary">구독자 <span class="subscribeCnt"><%= videoUser.subscribe %></span>명</span><br>
                        <div class="mt-3"><%= video.description %></div>
                    </div>
                    <hr>
                </div>
                <!-- /channel summary -->

                <!-- comment -->
                <div>
                    <!-- comment summary -->
                    <div class="mb-3">
                        <span class="mr-2">댓글</span>
                        <span><%= video.comments.length %>개</span>
                    </div>
                    <!-- /comment summary -->

                    <!-- comment input -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="comment" id="comment" placeholder="댓글을 입력하세요.">
                        <div class="input-group-append">
                            <button class="btn btn-primary commnetBtn">작성</button>
                        </div>
                    </div>
                    <!-- /comment input -->

                    <!-- comment view -->
                    <div class="mt-4 commentBoard">
                        <% if (video.comments !== undefined) { %>
                            <% for (let i = 0; i < video.comments.length; i++) { %>
                                <div class="mb-3">
                                    <img src="<%= video.comments[i].profile %>" style="width: 40px; height: 40px;" class="align-top rounded-circle">
                                    <div class="d-inline-block ml-3">
                                        <div class="small align-top">
                                            <span class="mr-2"><%= video.comments[i].nickname %></span>
                                            <span class="text-secondary"><%= video.comments[i].date %></span>
                                        </div>
                                        <span class="align-bottom"><%= video.comments[i].comment %></span>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <!-- /comment view -->
                </div>
                <!-- /comment -->
            </div>
    
            <div class="col-md-2">
    
            </div>
        </div>    
        
        
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest/dist/hls.js"></script>
    
    <!-- hls video player-->
    <script>
        if(Hls.isSupported()) {
            let video = $("#video")[0];
            let videoSrc = "../<%= video.path %>.m3u8";
            let hls = new Hls({ debug: true });
            hls.loadSource(videoSrc);
            hls.attachMedia(video);
            hls.on(Hls.Events.MEDIA_ATTACHED, function() { 
                video.play();
            });
        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.attr("src", videoSrc);
            video.addEventListener('canplay',function() { video.play() });
        }
    </script>

    <!-- videoPlayer resize -->
    <script src="../javascript/videoPlayerResize.js"></script>

    <!-- like hate -->
    <script>
        const like = () => {
            $.ajax({
                url: '../videos/like',
                type: 'POST',
                data: { videoID: '<%= video._id %>' },
                success: (likeCnt) => {
                    $('.likeCnt').html(likeCnt);
                },
            });
        };
        const unlike = () => {
            $.ajax({
                url: '../videos/unlike',
                type: 'POST',
                data: { videoID: '<%= video._id %>' },
                success: (likeCnt) => {
                    $('.likeCnt').html(likeCnt);
                },
            });
        };
        const hate = () => {
            $.ajax({
                url: '../videos/hate',
                type: 'POST',
                data: { videoID: '<%= video._id %>' },
                success: (hateCnt) => {
                    $('.hateCnt').html(hateCnt);
                },
            });
        };
        const unhate = () => {
            $.ajax({
                url: '../videos/unhate',
                type: 'POST',
                data: {  videoID: '<%= video._id %>' },
                success: (hateCnt) => {
                    $('.hateCnt').html(hateCnt);
                },
            });
        };
        const toBlueBtn = (upDown) => {
            $(upDown).css('color', '#0275d8');
        }
        const toGrayBtn = (upDown) => {
            $(upDown).css('color', '#6c757d');
        }

        if('<%= curUser.like %>'.includes('<%= video.id %>')) {    // liking
            toBlueBtn('.fa-thumbs-up');
        } else {    // not liking
            toGrayBtn('.fa-thumbs-up');
        }

        if('<%= curUser.hate %>'.includes('<%= video.id %>')) {    // hating
            toBlueBtn('.fa-thumbs-down');
        } else {    // not hating
            toGrayBtn('.fa-thumbs-down');
        }


        $('.like').on('click', () => {
            if ($('.fa-thumbs-up').css('color') === 'rgb(108, 117, 125)') {
                toBlueBtn('.fa-thumbs-up');
                like();
                if ($('.fa-thumbs-down').css('color') === 'rgb(2, 117, 216)') {
                    toGrayBtn('.fa-thumbs-down');
                    unhate();
                }
            } else {
                toGrayBtn('.fa-thumbs-up');
                unlike();
            }
        });

        $('.hate').on('click', () => {
            if ($('.fa-thumbs-down').css('color') === 'rgb(108, 117, 125)') {
                toBlueBtn('.fa-thumbs-down');
                hate();
                if ($('.fa-thumbs-up').css('color') === 'rgb(2, 117, 216)') {
                    toGrayBtn('.fa-thumbs-up');
                    unlike();
                }
            } else {
                toGrayBtn('.fa-thumbs-down');
                unhate();
            }
        });
    </script>

    <!-- add comment -->
    <script>
        $(".commnetBtn").on("click", () => {
            $.ajax({
                url: '../videos/comment?videoID=<%= video._id %>',
                type: 'POST',
                data: { comment: $('#comment').val() },
                success: (comment) => {
                    let html = `<div class="mb-3">
                                    <img src="${comment.profile}" style="width: 40px; height: 40px;" alt="..." class="align-top rounded-circle">
                                    <div class="d-inline-block ml-3">
                                        <div class="small align-top">
                                            <span class="mr-2">${comment.nickname}</span>
                                            <span class="text-secondary">${comment.date}</span>
                                        </div>
                                        <span class="align-bottom">${comment.comment}</span>
                                    </div>
                                </div>`;
                    $('#comment').val('');
                    $('.commentBoard').prepend(html);
                },
            });
        });
    </script>

    <!-- subscribe -->
    <script>
        const subscribe = () => {
            $.ajax({
                url: '../users/subscribe',
                type: 'POST',
                data:  { userID: '<%= videoUser.id %>' },
                success: (subscribeCnt) => {
                    $('.subscribeCnt').html(subscribeCnt);
                },
            });
        }
        const unsubscribe = () => {
            $.ajax({
                url: '../users/unsubscribe',
                type: 'POST',
                data:  { userID: '<%= videoUser.id %>' },
                success: (subscribeCnt) => {
                    $('.subscribeCnt').html(subscribeCnt);
                },
            });
        }
        const toRedBtn = () => {
            $('#subscribeBtn').css('background-color', '#ff0000');
            $('#subscribeBtn').css('color', '#ffffff')
            $('#subscribeBtn').html('구독');
        }
        const toGray = () => {
            $('#subscribeBtn').css('background-color', '#d3d3d3');
            $('#subscribeBtn').css('color', '#6c757d')
            $('#subscribeBtn').html('구독중');
        }

        if('<%= curUser.subscribing %>'.includes('<%= videoUser.id %>')) {    // subscribing
            toGray();
        } else {    // not subscribing
            toRedBtn();
        }

        $('#subscribeBtn').on('click', () => {
            if ($('#subscribeBtn').css('background-color') === 'rgb(255, 0, 0)') {
                toGray()
                subscribe();
            } else {
                toRedBtn();
                unsubscribe();
            }
        });
    </script>
</body>
</html>